<div class="home-container" ng-controller="MusicController as music">
    <div class="search-container" ng-controller="SearchController as searchCtrl">

        <form name="searchForm" ng-submit="searchCtrl.submit()">
            <input placeholder="Enter search..." ng-model="searchCtrl.query"  required>
            <input type="submit" value="Search">
            <pre>list={{searchCtrl.query}}</pre>
        </form>

    </div>
</div>
